<app-header></app-header>
<div *ngIf="contestEdition$ | async as contestEdition">
  <h1>{{ contestEdition.name }}</h1>
  <div class="container-fluid">
    <div class="pl-2" style="border-left:80px blue solid ">
      <div>
        <span style="font-family: Courgette,serif; font-size: 1.5rem">
          {{ contestEdition.contestName }}
          <span class="badge badge-secondary">{{ contestEdition.status }}</span>
        </span>

      </div>
      <div>
        <span style="font-family: 'Kaushan Script',serif; font-size: 3rem">
          {{ contestEdition.edition }}
          <sup>{{ contestEdition.edition | appOrdinal }}</sup> Edition
        </span>
        <h2>About this event</h2>
        <p>{{ contestEdition.description }}</p>
        <h2>Event Date</h2>
        <p>{{ contestEdition.eventDateTime }}</p>
        <h2>Events</h2>
        <div class="d-flex flex-wrap justify-content-between">
          <div *ngFor="let event of contestEdition.events"
               class="col-lg-4">
            <div class="card bg-dark p-3 mt-2">
              {{event.name}}
              <a class="btn btn-secondary" [routerLink]="['/events', event.id]">Join Event</a>
              <a class="" [routerLink]="['/events', event.id, 'leaderboard']">Leaderboard</a>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
