<app-header></app-header>
<div class="container-fluid" *ngIf="eventLeaderboard$ | async as eventLeaderboard" >
  <div class="d-flex">
    <div class="col-lg-5">
      <h1>Event Details</h1>
     <pre class="text-light">
        {{ eventLeaderboard.event | json }}
     </pre>
    </div>
    <div class="col-lg-7">
      <table class="table table-dark text-light">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
          <th>Percentage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of eventLeaderboard.leaderboard ; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.points }}</td>
          <td>{{ user.percentage | percent:'2.1-1' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
