<app-header></app-header>

<div class="container-fluid" *ngIf="contestEditions$ | async as contestEditions">
  <h1>{{  contestEditions.name }}</h1>
  <div class="d-flex justify-content-around">
    <div *ngFor="let edition of contestEditions.editions" class="col-lg-5">

      <div class="card">
        <div class="card-header bg-primary">{{ edition.name }}</div>
        <div class="card-body bg-dark">{{ edition.description }}</div>
        <div class="card-footer bg-dark text-right">
          <a [routerLink]="['/contests', edition.contestId, 'editions', edition.id]" class="btn btn-secondary">
            View
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

