<app-header></app-header>

<main class="container-fluid">
  <div class="d-flex flex-wrap justify-content-between align-self-stretch">
    <div *ngFor="let contest of contests$ | async" class="col-lg-6 p-1 d-flex flex-wrap">

      <div class="col-8 pt-5 pb-4 d-flex align-items-center contest-name">
        {{ contest.name }}
        <span class="contest-status">{{ contest.status | uppercase }}</span>
        <a class="contest-previous-link" [routerLink]="['/contests', contest.contestId]">View previous contests</a>
      </div>
      <div class="col-4 p-0 d-flex align-items-center contest-edition">
        <span class="pl-2">{{ contest.edition }}<sup>{{ contest.edition | ordinal }}</sup> Edition</span>
      </div>

      <a [routerLink]="['/contests', contest.contestId, 'editions', contest.id]" class="btn btn-secondary bg-dark contest-button">View</a>
    </div>

  </div>

</main>
