/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css?family=Lora";
@import "https://fonts.googleapis.com/css?family=Courgette";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script";

@font-face{
  font-family:'digital-clock-font';
  src: url('assets/fonts/font-digital.ttf');
}

body {
  background: #111111;
  color: white;
  font-family: "Lora", serif;
}
